@import '../Styles/Main.scss';

.account{
    .form-header{
        text-align: center;
        margin: 70px 0 0 0;
        h3{
            text-transform: capitalize;
            font-weight: 600;
            margin: 10px 0 30px;
        }
    }
    .form-fillUp{
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        padding: 50px;
        input{
            padding: 10px;
        }
    }
    .condition-btn{
        .log-btn, .sign-btn{
            cursor: pointer;
            display: inline-block;
            margin: 0 0 0 15px;
        }
    }
}